<html lang="en">
<%- include("./partials/head.Ejs") %>

<body>
  <%- include("./partials/nav.Ejs") %>

  <div class="about content">
    <h2>approximately Us</h2>
    <p>Lorem ipsum dolor, take a seat amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi tenetur ut blanditiis, illum quo consectetur recusandae excepturi natus impedit rem, tempora cum fuga quae in.</p>
    <p>Lorem ipsum dolor, sit down amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi tenetur ut blanditiis, illum quo consectetur recusandae excepturi natus impedit rem, tempora cum fuga quae in.</p>
    <p>Lorem ipsum dolor, sit down amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi tenetur ut blanditiis, illum quo consectetur recusandae excepturi natus impedit rem, tempora cum fuga quae in.</p>
  </div>

  <%- include("./partials/footer.Ejs") %>
</body>
</html>
